.nav {
    background-color: #282c34;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.logo img {
    height: 100px;
    width: auto;
    filter: brightness(0) invert(1);
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links button {
    background-color: #282c34;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.nav-links button:hover {
    background-color: black;
}

.nav-links button.logout:hover {
    background-color: #b82d2b;
}